#gradient-background {
    background-color: gainsboro;
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }




.profile-pix{
    border-radius: 50%;
}
span{
    color: rgb(53, 53, 201);
}

.container3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;


}

.container4{
    display: flex;
    justify-content: center;
    align-items: center; 


}

.container-1{
    height: 70vh;
    margin-bottom: 25px;
    margin-top: 10px;
   
   
   }


