#gradient-background {
    background-color: gainsboro;
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    font-family: serif;
  }


.profile-pix{
    border-radius: 50%;
}

   #get-in-touch{
    font-style: italic;
   }

   .footer{
    position:sticky;
    padding-bottom: 10px;
   }

#header{
    background-color: gainsboro;
    font-family: sans-serif;

}

.qualification{
    font-family: sans-serif;
}
